* {
    font-family: MierB-Book, PingFang;
}
code {
    font-family: ComicShannsMonoNerdFont-Regular !important;
}

@font-face {
    font-family: MierB-Book;
    src: url("/font/MierB-Book.ttf");
}
@font-face {
    font-family: MierA-DemiBold;
    src: url("/font/MierA-DemiBold.ttf");
}
@font-face {
    font-family: PingFang;
    src: url("/font/PingFang.otf");
}
@font-face {
    font-family: ComicShannsMonoNerdFont-Regular;
    src: url("/font/ComicShannsMonoNerdFont-Regular.otf");
}